<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.0" targetFramework="net40" requireReinstallation="True" />
  <package id="IKVM.OpenJDK.Core" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Text" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Util" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.XML.API" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.Runtime" version="7.2.4630.5" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net40" requireReinstallation="True" />
  <package id="System.Data.SQLite" version="1.0.92.0" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.92.0" targetFramework="net40" requireReinstallation="True" />
  <package id="System.Data.SQLite.EF6" version="1.0.92.0" targetFramework="net40" requireReinstallation="True" />
  <package id="System.Data.SQLite.Linq" version="1.0.92.0" targetFramework="net40" requireReinstallation="True" />
</packages>